<div class="row">
    <div class="col">
        <div id="mainAccordionDiv" class="collapse-div" role="tablist">
            <div class="collapse-header bg-primary " id="headingFilter" style="border-radius: 10px 10px 0 0;">
                <button class="text-white text-decoration-none" data-toggle="collapse" data-target="#filterDiv"
                        aria-expanded="false" aria-controls="filterDiv">
                    Filtro
                </button>
            </div>
            <div id="filterDiv" class="collapse bg-white" role="tabpanel" aria-labelledby="headingFilter" data-parent="#mainAccordionDiv">
                <div class="collapse-body">
                    <!-- filter form -->
                    {% include dashboard/filters/year.html %}
                    {% include dashboard/filters/regione.html %}
                    {% include dashboard/filters/azienda.html %}
                    {% include dashboard/filters/struttura.html %}
                    <!-- / filter form -->
                </div>
            </div>
        </div>
    </div>
</div>