<main class="py-4">
    <div class="row">
        <div class="col-12 p-2 text-center"><strong>{{ page.title }}</strong></div>
    </div>
    <div class="row">
        <div class="col-12 py-4 text-center">
            <div class="container">
                <div class="row menu">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                        <a class="btn-link text-decoration-none" href="#">
                            <svg class="icon icon-primary mr-1">
                                <use xlink:href="{{ base.url }}/assets/bootstrap-italia/svg/sprite.svg#it-pa"></use>
                            </svg>
                            <strong>Home</strong>
                        </a>
                    </div>
                    <div class="col-sm">
                        <a class="btn-link disabled text-decoration-none" href="#">
                                <svg class="icon icon-secondary mr-1"> <!--style="border: 1px solid;border-radius: 20px"-->
                                    <use xlink:href="{{ base.url }}/assets/bootstrap-italia/svg/sprite.svg#it-chart-line"></use>
                                </svg>
                            <strong class="">Pie charts</strong>
                        </a>
                    </div>
                    <div class="col-sm">
                        <a class="btn-link text-decoration-none" href="#">
                            <svg class="icon icon-primary mr-1">
                                <use xlink:href="{{ base.url }}/assets/bootstrap-italia/svg/sprite.svg#it-chart-line"></use>
                            </svg>
                            <strong>Line charts</strong>
                        </a>
                    </div>
                    <div class="col-sm"></div>
                </div>
            </div>
        </div>
    </div>
</main>