<main class="py-4">
    <div class="row">
        <div class="col-12 p-2 text-center"><h4 class="primary-color">{{ page.title }}</h4></div>
    </div>
    <div class="row">
        <div class="col-12 py-4 text-center">
            <div class="container">
                <div class="row menu">
                    <div class="col-sm"></div>

                    {% if page.tab == 'table' %}
                        {% assign table-button-class = 'btn-secondary disabled' %}
                        {% assign table-icon-class = '' %}
                        {% assign chart-button-class = 'btn-outline-primary' %}
                        {% assign chart-icon-class = 'icon-primary' %}
                    {% else %}
                        {% assign table-button-class = 'btn-outline-primary' %}
                        {% assign table-icon-class = 'icon-primary' %}
                        {% assign chart-button-class = 'btn-secondary disabled' %}
                        {% assign chart-icon-class = '' %}
                    {% endif %}

                    <div class="col-sm">
                        <a class="btn {{ table-button-class }}" href="{{ site.baseurl }}/{{ page.metaname }}/table/">
                                <svg class="icon {{ table-icon-class }} mr-1"> <!--style="border: 1px solid;border-radius: 20px"-->
                                    <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/svg/sprite.svg#it-list"></use>
                                </svg>
                            <strong class="">Table</strong>
                        </a>
                    </div>

                    <div class="col-sm">
                        <a class="btn {{ chart-button-class }}" href="{{ site.baseurl }}/{{ page.metaname }}/chart/">
                            <svg class="icon {{ chart-icon-class }} mr-1">
                                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/svg/sprite.svg#it-chart-line"></use>
                            </svg>
                            <strong>Charts</strong>
                        </a>
                    </div>
                    <div class="col-sm"></div>
                </div>
            </div>
        </div>
    </div>
</main>