<!-- window.__PUBLIC_PATH__ points to fonts folder location -->
<script>window.__PUBLIC_PATH__ = '{{ site.baseurl }}/assets/bootstrap-italia/fonts'</script>

<!-- Bootstrap core JS -->
<script src="{{ site.baseurl }}/assets/bootstrap-italia/js/bootstrap-italia.bundle.min.js"></script>

<!-- plotly -->
<!--<script src="https://d3js.org/d3.v7.min.js"></script>-->
<script src="{{ site.baseurl }}/assets/plotly/plotly.min.js"></script>
<script src="{{ site.baseurl }}/assets/plotly/plotly-locale-it.js"></script>
<script>Plotly.setPlotConfig({locale: 'it-IT'})</script>
<script src="{{ site.baseurl }}/assets/js/chart/common.js"></script>

<!-- datatable -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.3/b-2.1.1/b-colvis-2.1.1/b-html5-2.1.1/cr-1.5.5/fc-4.0.1/fh-3.2.0/r-2.2.9/sc-2.0.5/datatables.min.js"></script>

<!-- page scripts -->
{% for script in page.scripts %}
    {% capture scriptFullPath %}{{ script | relative_url }}{% endcapture %}
    <script src="{{ scriptFullPath }}"></script>
{% endfor %}
<!-- / page scripts -->
