<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap-italia/css/bootstrap-italia.min.css">
<!-- datatable -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.3/b-2.1.1/b-colvis-2.1.1/b-html5-2.1.1/cr-1.5.5/fc-4.0.1/fh-3.2.0/r-2.2.9/sc-2.0.5/datatables.min.css"/>
<!-- Main styles -->
<!--<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />-->
<!--<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />-->
<!--<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/custom.css" />-->
