<tr>
    <th>CODICE STABILIMENTO</th>
    <th class="select-filter">Anno</th>
    <th>Codice Regione</th>
    <th class="select-filter">Descrizione Regione</th>
    <th class="select-filter">Codice Azienda</th>
    <th>Denominazione Azienda</th>
    <th>Codice USL territoriale</th>
    <th>Codice struttura</th>
    <th>Denominazione struttura</th>
    <th>Tipo struttura</th>
    <th>Strutture di ricovero.Partita IVA</th>
    <th>Descrizione tipo struttura</th>
    <th>Tipo IRCCS/A.O. Univ. e Policlinico</th>
    <!--                        <th>Tipo casa di cura</th>-->
    <!--                        <th>Strutture di ricovero.Attività riabilitazione</th>-->
    <!--                        <th>Strutture di ricovero.Attività day surgery</th>-->
    <!--                        <th>Strutture di ricovero.Attività pediatrica</th>-->
    <th>Subcodice</th>
    <th>Denominazione</th>
    <th>Stabilimenti.Partita IVA</th>
    <!--                        <th>Stabilimenti.Attività day surgery</th>-->
    <!--                        <th>Stabilimenti.Attività pediatrica</th>-->
    <!--                        <th>Stabilimenti.Attività riabilitazione</th>-->
    <th>Giorno apertura</th>
    <th>Mese apertura</th>
    <th>Anno apertura</th>
    <th>Giorno chiusura</th>
    <th>Mese chiusura</th>
    <th>Anno chiusura</th>
    <th>Indirizzo</th>
    <th>CAP</th>
    <th>Codice Comune</th>
    <th>Comune</th>
    <th>Sigla provincia</th>
    <th>Nome provincia</th>
    <th>Diagnostica per immagini</th>
    <th>Dipartimento emergenza</th>
    <th>Centro trasfusionale</th>
    <th>Oncologia medica</th>
    <th>Pronto soccorso</th>
    <th>Pronto soccorso pediatrico</th>
    <th>Radioterapia</th>
    <th>Servizio rianimazione</th>
    <th>Servizio dialisi</th>
    <th>Sale operatorie stab.</th>
    <th>Posti camere iperbariche stab.</th>
    <th>Incubatrici stab.</th>
    <th>Culle stab.</th>
    <th>ClassificazioneStruttura</th>
    <th>chiave stabilimento</th>
    <th>Codice disciplina</th>
    <th>Descrizione disciplina</th>
    <th>Progressivo divisione</th>
    <th>Mese apertura (right)</th>
    <th>Anno apertura (right)</th>
    <th>Mese chiusura (right)</th>
    <th>Anno chiusura (right)</th>
    <th>Denominazione (right)</th>
    <th>Totale posti degenza</th>
    <th>Day hospital</th>
    <th>Day surgery</th>
    <th>Totale posti</th>
    <th>Denominazione finale</th>
</tr>