<style>
    .table th {background-color: #06c; color: white}
</style>

<div class="container pb-5">
    {% comment %}{% include datatable/ftetobe/anestesisti/filter.html %}{% endcomment %}
    <div class="row py-3"></div>
    <div class="row" style="font-size: 10px">
        <div class="col">
            <table id="fteTable" class="table table-striped table-bordered">
                <thead>
                {% include datatable/ftetobe/anestesisti/columns.html %}
                </thead>
                <tfoot>
                {% include datatable/ftetobe/anestesisti/columns.html %}
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script>
    let $table;
    const JSON_ENDPOINT = "{{ site.baseurl }}/knime_data/Fte2be_0.json";

    $(document).ready(function() {
        $.ajax({
            url: JSON_ENDPOINT,
        }).done(function(csv) {
            // console.log(csv)
            $table = $('#fteTable').DataTable({
                data: csv,
                responsive: true,
                "columns": [
                    { data: "Anno" },
                    { data: "Codice Regione" },
                    { data: "Descrizione Regione" },
                    { data: "Codice Azienda" },
                    { data: "Denominazione Azienda" },
                    { data: "Codice USL territoriale" },
                    { data: "Codice struttura" },
                    { data: "Denominazione struttura" },
                    { data: "Subcodice" },
                    { data: "Denominazione" },
                    { data: "FTE TO BE TI/TIN" },
                    { data: "FTE TO BE Guardia Divisionale" },
                    { data: "FTE TO BE \"Sale Operatorie\"" },
                    { data: "FTE AS IS" },
                    { data: "FTE TO BE" },
                    { data: "SALDO" },
                ]
            });
            //
            // addColumnsFiltering($table)
            // $table.column(3).search('Lazio').draw();

            enableFilterHandlers()
        });
    });

    const addColumnsFiltering = function (table) {
        table.columns( '.select-filter' ).every( function () {
            console.log('item',this)
            var that = this;

            // Create the select list and search operation
            var select = $('<select />')
                .appendTo(
                    this.header()
                )
                .on( 'change', function () {
                    that
                        .search( $(this).val() )
                        .draw();
                } );

            // Get the search data for the first column and add to the select list
            this
                .cache( 'search' )
                .sort()
                .unique()
                .each( function ( d ) {
                    select.append( $('<option value="'+d+'">'+d+'</option>') );
                } );
        } );
    }

    const codiceRegioneColumnIndex = 1;
    const regioneColumnIndex = 2;
    const codiceAziendaColumnIndex = 3;
    const aziendaColumnIndex = 4;
    const codiceUSLIndex = 5;
    const codiceStrutturaColumnIndex = 6;
    const strutturaColumnIndex = 7;
    const denominazioneColumnIndex= 9;
    const capColumnIndex= 23;

    const enableFilterHandlers = function () {
        // codice regione filter
        $codiceRegioneInput = $('#codiceRegione')
        addFilterOnEvent($codiceRegioneInput, codiceRegioneColumnIndex, 'keyup')
        // regione filter
        $regioneInput = $('#regione')
        addFilterOnEvent($regioneInput, regioneColumnIndex, 'keyup')
        // codice azienda filter
        $codiceAziendaInput = $('#codiceAzienda')
        addFilterOnEvent($codiceAziendaInput, codiceAziendaColumnIndex, 'keyup')
        // azienda filter
        $aziendaInput = $('#azienda')
        addFilterOnEvent($aziendaInput, aziendaColumnIndex, 'keyup')
        // codice usl filter
        $codiceUSLInput = $('#codiceUSL')
        addFilterOnEvent($codiceUSLInput, codiceUSLIndex, 'keyup')
        // codice struttura filter
        $codiceStrutturaInput = $('#codiceStruttura')
        addFilterOnEvent($codiceStrutturaInput, codiceStrutturaColumnIndex, 'keyup')
        // struttura filter
        $strutturaInput = $('#struttura')
        addFilterOnEvent($strutturaInput, strutturaColumnIndex, 'keyup')
        // denominazione filter
        $denominazioneInput = $('#denominazione')
        addFilterOnEvent($denominazioneInput, denominazioneColumnIndex, 'keyup')
        // cap
        $capInput = $('#cap')
        addFilterOnEvent($capInput, capColumnIndex, 'keyup')
    }

    const addFilterOnEvent = function ($element, columnIndex, eventName) {
        const $column = $table.columns(columnIndex);
        $element.on( eventName, function () {
            console.log('searching item', $(this).val())
            $column.search( $(this).val() ).draw();
        });
    }

</script>