{% comment %}
Le pagine che vengono incluse in questo menù sono un sottoinsieme di
tutte le pagine del sito che:
- hanno l'attributo "order" valorizzato
{% endcomment %}

{% assign pageLang = 'it' %}
{% if page.lang %}
  {% assign pageLang = page.lang %}
{% endif %}

<div class="it-nav-wrapper">
  <div class="it-header-center-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-center-content-wrapper">
            <div class="it-brand-wrapper">
              <a href="{{ site.baseurl }}/">
                <img class="" src="{{ site.baseurl }}/assets/images/logo_rep_agenas.png" alt="{{ site.name }} logo">
                <div class="it-brand-text">
                  <h2 class="no_toc">{{ site.data.t.name }}</h2>
                  <h3 class="no_toc d-none d-md-block">{{ site.data.t.description }}</h3>
                </div>
              </a>
            </div>
            <div class="it-right-zone">
              <div class="it-socials d-none d-md-flex">
                <span>Seguici su</span>
                <ul>
                  {% for social-link in site.data.t.social-links %}
                  <li class="list-inline-item">
                    <a href="{{ social-link[1].url }}" title="{{ social-link[1].name }}" target="_blank">
                      <svg class="icon">
                        <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/svg/sprite.svg#it-{{ social-link[1].name }}"></use>
                      </svg>
                      <span class="sr-only">{{ social-link[1].name }}</span>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- user panel -->
  {% comment %}{% include header/header-panel.html %}{% endcomment %}
  <!-- menu -->
  {% include menu/menu.html %}
</div>
