<div class="it-header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-lg-block navbar-brand" href="http://www.regione.umbria.it/">Ministero della Salute</a>
          <div class="nav-mobile">
            <nav>
              <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu1" role="button" aria-expanded="false" aria-controls="menu1">
                <span>Ministero della Salute</span>
                <svg class="icon">
                  <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/svg/sprite.svg#it-expand"></use>
                </svg>
              </a>
            </nav>
          </div>
          <div class="header-slim-right-zone">
            <!-- Account options -->
            <div class="it-access-top-wrapper">
              {% comment %}{% include header/signin-modal.html %}{% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
