<div class="mt-3">
    <div class="form-row">
        <div class="form-group col-4">
            <div class="bootstrap-select-wrapper">
                <label>Anno</label>
                <select id="yearSelect" title="Scegli l'anno">
                    <option value="2020">2020</option>
                    <option value="2019" selected>2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>>
                    <option value="2016">2016</option>
                </select>
            </div>
        </div>
    </div>
</div>